{% extends "base.html" %}
{% block title %}
  {% set title = context['title'] %}
  {{ title }}
{% endblock title %}

<!-- Styles block -->

{% block styles%} 
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %} 

{% block content %}
<div class="container signup-wrapper">
  <div class="signup-box col-md-3">
    <h4>Jobo<span class="text-primary">App</span></h4>
    <p class="login-box-msg">Fill in the form to create an account</p>
    {% for message in get_flashed_messages() %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">
          &times
        </button>
        {{message}}
      </div>
    {% endfor %}
    <form action="{{url_for('auth.register')}}" method="POST">
      {% set registration_form = context['registration_form'] %}
      {{registration_form.hidden_tag()}}
      <div class="form-group mb-2">
        {{registration_form.role.label}}
        {{registration_form.role(class_="form-control")}}
      </div>
      <div class="form-group mb-2">
        {{registration_form.first_name(placeholder="First name", size=30,
        class_="form-control")}}
      </div>
      <div class="form-group mb-2">
        {{registration_form.other_names(placeholder="Other names", size=30,
        class_="form-control")}}
      </div>
      <div class="form-group mb-2">
        {{registration_form.username(placeholder="Username", size=30,
        class_="form-control")}}
      </div>
      <div class="form-group mb-2">
        {{registration_form.email(placeholder="Email address", size=30,
        class_="form-control")}}
        {{registration_form.email.message}}
      </div>
      <div class="form-group mb-2">
        {{registration_form.password(placeholder="Password",size=30,
        class_="form-control")}}
      </div>
      <div class="form-group mb-2">
        {{registration_form.password_confirm(placeholder="Confirm password", size=30,
        class_="form-control")}}
      </div>
      <a href="{{url_for('auth.login')}}">Already have an account</a>
      <div class="register mt-3">{{registration_form.submit(class_="btn-submit btn-primary")}}</div>
    </form>
  </div>
</div>
{%endblock%}
