/* NAVBAR */
.navbar-nav li a{
  margin-right: 4rem;
  font-family: 'Aclonica', sans-serif;
  color: rgb(19, 14, 39);
  
}



.landing{
 height: 100%;
 text-align: center;
}


.main{
  height: 40rem;
  background-color: rgba(198, 203, 224, 0.4);
}
.description{
  display: flex;
  justify-content: center;
  align-items: center;
}


.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.find-post-job{
  height: 20rem;
  background-color: rgba(198, 203, 224, 0.4);
  display: flex;
  justify-content: center;
}


.find-job, .post-job{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.footer{
  background-color: rgb(17, 11, 43);
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}


.about-us, .address{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
}

button{
  height: 40px;
  border: none;
  width: 9rem;
  border-radius: 5px;
}

