
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*-----------------
    Register
 -----------------------*/
.btn-submit {
  outline: none;
  border: none;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  width: 150px;
  border-radius: 8px;
  background-color: #0096c7;
  color: #fff;
  font-weight: 600;
}
.btn-block .btn-submit {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}
.navbar-nav li a{


.job-seeker-dash-wrapper{
  border: 2px solid red;
}

/* NAVBAR */
.navbar-nav li a {
  margin-right: 4rem;
  font-family: "Aclonica", sans-serif;
  color: rgb(19, 14, 39);
}

.landing {
  height: 100%;
  text-align: center;
}

.main {
  height: 40rem;
  background-color: rgba(198, 203, 224, 0.4);
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.find-post-job {
  height: 20rem;
  background-color: rgba(198, 203, 224, 0.4);
  display: flex;
  justify-content: center;
}

.find-job,
.post-job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: rgb(17, 11, 43);
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.about-us,
.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
}

button {
  height: 40px;
  border: none;
  width: 9rem;
  border-radius: 5px;
}

/* NAVBAR */

.navbar-nav li a {
  margin-right: 4rem;
  font-family: "Aclonica", sans-serif;
  color: rgb(19, 14, 39);
}

.landing {
  height: 100%;
  text-align: center;
}

.main {
  height: 40rem;
  background-color: rgba(198, 203, 224, 0.4);
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow:  10px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover{
  filter:drop-shadow(8px 8px 10px rgb(19, 19, 19));
}

.landing .card:hover{
  filter:drop-shadow(8px 8px 10px rgb(19, 19, 19));
  box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  filter: drop-shadow(8px 8px 10px rgb(19, 19, 19));
}

.find-post-job {
  height: 20rem;
  background-color: rgba(198, 203, 224, 0.4);
  display: flex;
  justify-content: center;
}

.find-job,
.post-job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: rgb(17, 11, 43);
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.about-us,
.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
}

button {
  height: 40px;
  border: none;
  width: 9rem;
  border-radius: 5px;
}

.job-list .card{
  box-shadow:  10px 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(227, 231, 245, 0.4);

}

.job-list .card a:link{
  text-decoration: none !important;

}

.job-list .card:hover{
  filter:drop-shadow(8px 8px 10px rgb(196, 196, 202));

}


.job-description{
  border-left: 2px solid rgb(190, 180, 180);
}


.user-details{
  /* display: none; */
}
