.navbar-nav li a{

  font-weight: 500;
  margin-right: 20px;
  font-family: 'Aclonica', sans-serif;
}



.landing{
 height: 100%;
}


.main{
  height: 35rem;
  background-color: rgba(186, 197, 243, 0.4);
}
.description{
  display: flex;
  justify-content: center;
  align-items: center;
}


.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}