{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles%} 
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}" />
{% endblock %}

{% block content %}

<div class="container-fluid generalPage">
    <div class="card">
        <div class="card-header" style="width: 100%;">
            <h5 class="mt-3">General Jobs</h5>
            <p>Jobs found: {{ jobs | count() }}</p>
            <p>Find the ideal job for you</p>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-5">
                    <div id="" class="col-md-10" style="overflow-y: scroll; height: 800px">
        
                    {{ macro.JobsAvailable(jobs) }}
        
                    </div>
                </div>
        
                <div class="col-md-7 job-description">
                    <h1><cite>{{ one_job.title }}</cite></h1>
                    <h4>{{ one_job.commitment }}</h4>
                    <p class="fs-5" >{{ one_job.department }}</p>
                    <p>{{ one_job.descriptionPlain }}</p>
                    <p>{{ one_job.team }}</p>
                    <a href="{{ one_job.applyUrl }}"><button class="btn btn-danger">Apply direct</button></a>
                </div>
        
            </div>
          
        </div>
      </div>
    

   

</div>


{% endblock %}