{% extends 'base.html' %}

{% block title %}
  {% set title = context['title'] %}
  {{ title }}
{% endblock title %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">

{% endblock %}

{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}

<div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">
      <!-- sidebar block -->
      {% block sidebar%}
        {%include 'sidebar.html'%}
      {% endblock%}

      {% if current_user.roles_id == 1 %}
        <!-- joblisting block  -->
        {% block joblisting %}
          {%include 'job-listing.html'%}
        {% endblock%}
        {% else %}
          {% include 'employer/dashboard.html'%}
          {% include 'modals/add_job.html'%}
          {% include 'modals/job_details.html'%}
      {% endif %}
    </div>

  </div> 
{% endblock %}
