{% extends 'base.html' %}

{% block title %}
  {% set title = context['title'] %}
  {{ title }}
{% endblock title %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
<script src="{{ url_for('static',filename='js/script.js') }}"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row min-vh-100 flex-column flex-md-row">
      <aside class="col-12 col-md-3 col-xl-2 p-0 bg-dark">
        <nav class="navbar navbar-expand-md navbar-dark bd-dark flex-md-column flex-row align-items-center py-2 text-center sticky-top" id="sidebar">
          <div class="text-center p-3">
            <img src="https://avataaars.io/?avatarStyle=Circle&topType=NoHair&accessoriesType=Prescription01&facialHairType=BeardMajestic&facialHairColor=Platinum&clotheType=ShirtVNeck&clotheColor=Heather&eyeType=Close&eyebrowType=DefaultNatural&mouthType=ScreamOpen&skinColor=DarkBrown" alt=" profile-picture" class="img-fluid rounded-circle my-4 p-1 d-none d-md-block shadow">
            <a href="#" class="navbar-brand mx-0 font-weight-bold text-nowrap">{{ current_user.username }}({{ current_user.role.name }})</a>
          </div>
          <button type=" " class="navbar-toggler border-0 order-1" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse order-last" id="nav">
            <ul class="navbar-nav flex-column w-100 justify-content-center">
            <li class="nav-item">
              <a href="#" class="nav-link active"> Edit Profile</a>
            </li>
            {% set user = context['user'] %}
            {% if current_user.roles_id == 1 %}
            <li class="nav-item">
              <a href="#" class="nav-link">Jobs you liked</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a href="#" class="nav-link">Jobs you posted</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Create a job post</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a href="#" class="nav-link"></a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link"> Users Info </a>
            </li>
          </ul>
        </nav>
  
      </aside>
      {% if current_user.roles_id == 1 %}
      <div class="col-md-10">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('main.user_dash') }}">Jobs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Applications</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
              <h6>Job listing</h6>
              {% for job in jobs%}
              <div class="col-sm-12 job-list mt-3">
                <a href="{{url_for('main.job_details', id=job.id)}}">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title">{{job.job_id}}</h6>
                      <p class="card-text">{{job.commitment}}</p>
                      <p class="card-text">{{job.department}}</p>
                    </div>
                  </div>
                </a>
              </div>
              {% endfor%}
            </div>
            <div class="col-md-8 job-description">
              <h6>Job Description</h6>
              <div class="col-sm-12 job-list mt-3">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title">{{single_job.team}}</h6>
                    <p class="card-text">{{single_job.department}}</p>
                    <p class="card-text">{{single_job.location}}</p>
                    <button type="button" class="btn btn-success">Apply</button>
                  </div>
                </div>
              </div>
              <div>
                {{single_job.text}}
              </div>

            </div>
            </div>
            
          </div>
        </div>      
      </div>
      {% endif %}
    </div>

  </div> 

{% endblock %}